.blog-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.spacer {
    flex: 1;
}

.blog-title {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.blog-auth-container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.btn-auth {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.btn-auth:hover {
    background-color: #f0f0f0;
    
}